.header {
    
    padding: 10px 0;
    &--wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &--logo {
        width: 200px;
        @include zoomOnHover;
    }
    &--cart {
        width: 40px;
        @include zoomOnHover;
    }
}