//  Couleurs
$bg-color: #eee;
$txt-color: #464646;
$footer-color: #bbb;
$card-color: #fff;
$danger-color: #e68a34;
$success-color: #8f61e4;

// Font
$title-font: 'Federo', sans-serif;
$base-font: 'Roboto', sans-serif;

// Sizes
$page-up-size: 25px;
$header-size: 80px;