//  Couleurs
$bg-color: #eee;
$txt-color: #464646;
$footer-color: #bbb;
$card-color: #fff;
$emphasis-color: #cc8b40;
$success-color: #F0F4C3;

// Font
$title-font: 'Federo', sans-serif;
$base-font: 'Roboto', sans-serif;

// Sizes
$page-up-size: 25px;
$header-size: 80px;