.error {
    max-width: 650px;
    margin: auto;

    img {
        width: 100%;
    }
    p {
        color: $emphasis-color;
        font-family: $title-font;
        font-size: 3rem;
        font-style: italic;
        text-align: center;
    }
}